.menu {
  padding: 15px;
}

.menu a {
  width: 100%;
}

.menu a:not(:last-of-type) {
  margin-bottom: 15px;
}

.modal {
  top: 20% !important;
}

.modal .modal-content {
  padding: 0px 10px;
}

.modal .modal-content h6 {
  font-size: 1rem;
  font-weight: 500;
}

.modal .modal-footer .modal-close {
  margin-right: 10px;
}