html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn, .btn:active, .btn:focus {
  background-color: #64cbef;
}

.btn:hover {
  background-color: #000000;
}

.App {
  min-width: 320px;
  user-select: none;
}

.red {
  color: #b00020;
  background-color: transparent !important;
}

.blue {
  color: #64cbef;
  background-color: transparent !important;
}